        <!-- js -->
        <script src="/javascripts/bootstrap.min.js"></script>

        <footer class="alert alert-info">
            &copy: Boshen Yang - Assignment1
        </footer>
    </body>
</html>