<%- include partials/header.ejs %>

<div class="container text-center">
    <h1><%= title %></h1>
    <div class="center-block"><img src="/images/page2.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container text-center">
    <h2><%= message %></h2>
    <h3>Education</h3>
    <ul>
        <li>Georgian College: Computer programmer(Co-op 2 years)</li>
    </ul>
    <h3>Core Competition:</h3>
    <ul>
        <li>Designing and creating visual applications using
            .NET, Java and JavaScript</li>
        <li>Designing database systems</li>
        <li>Principles of Project Management</li>
        <li>Creating jobs and submitting them for execution using JCL on a mainframe running IBM zOS</li>
        <li>Demonstrating an awareness of organizational and team behaviour</li>

    </ul>
</div>



<%- include partials/footer.ejs %>
