<%- include partials/header.ejs %>

<h1><%= title %></h1>
<p><%= message %></p>
<ul>
    <li>Email: Boshen.Yang@myGeorgian.ca</li>
    <li>Phone#:7059702964</li>
</ul>


<%- include partials/footer.ejs %>
