<%- include partials/header.ejs %>

<div class="container text-center">
    <h1><%= title %></h1>
    <div class="center-block"><img src="/images/page3.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container text-center">
    <h2><%= message %></h2>
    <h3>Project List</h3>
    <ul>
        <li>Java War Game</li>
        <li>A static HTML website</li>
        <li>A dynamic PHP website</li>
    </ul>
</div>

<%- include partials/footer.ejs %>
