<%- include partials/header.ejs %>

<div class="container text-center">
    <h1><%= title %></h1>
    <div class="center-block"><img src="/images/page4.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container text-center">
    <h2><%= message %></h2>
    <h3>Services List</h3>
    <ul>
        <li>1).PHP web development</li>
        <li>2).CSS HTML web development</li>
        <li>3).Javascript web development</li>
    </ul>
</div>

<%- include partials/footer.ejs %>
