<%- include partials/header.ejs %>

<h1><%= title %></h1>
<p><%= message %></p>
<ul>
    <li>1).PHP web development</li>
    <li>2).CSS HTML web development</li>
    <li>3).Javascript web development</li>
</ul>


<%- include partials/footer.ejs %>
